<div class="yield_content">
  <div class="user_show">

    <div class="user_detail">

      <div class="gravatar">
        <%= gravatar_for(@user) %>
      </div>

      <p class="user_name"><%= @user.name %></p>
      <p class="user_mail"><%= @user.email %></p>
    </div>

    <!-- <h3>Posts:</h3> -->

    <!-- <% @posts.each do |post| %> -->
    <!--   <%= render partial: 'shared/show_post', locals: { post: post } %> -->
    <!-- <% end %> -->

    <div class="groups">
      <h3>Groups:</h3>

      <% @groups.each do |group| %>
        <span><%= link_to "#{group.name}(#{group.posts.size})", user_group_path(@user, group) %></span>
      <% end %>
    </div>

    <% if user_signed_in? && current_user  == @user %>
      <div class="some_buttons">
        <%= link_to "New Group", new_user_group_path(@user), class: "button button-highlight-o" %>
        <%= link_to "New Post", new_post_path, class: "button button-highlight-o" %>
      </div>
    <% end %>
  </div>
</div>
