<div class="yield_content">
  <div class="user_show">

    <div class="user_detail">

      <div class="gravatar">
        <%= gravatar_for(@user) %>
      </div>

      <p class="user_name">
        <%= @user.name %>
      </p>
      <p class="user_mail"><%= @user.email %></p>
      <p class="setting">
        <%= link_to "(setting)", edit_user_registration_path %>
      </p>
    </div>

    <div class="bar">
      <% if params[:action] == 'show' || params[:action] == 'groups' %>
        <%= link_to "Groups", groups_user_path, class: "selected" %>
        <%= link_to "Posts", posts_user_path %>
        <%= link_to "Liked", liked_user_path %>
      <% elsif params[:action] == 'posts'  %>
        <%= link_to "Groups", groups_user_path %>
        <%= link_to "Posts", posts_user_path, class: "selected" %>
        <%= link_to "Liked", liked_user_path %>
      <% elsif params[:action] == 'liked' %>
        <%= link_to "Groups", groups_user_path %>
        <%= link_to "Posts", posts_user_path %>
        <%= link_to "Liked", liked_user_path, class: "selected" %>
      <% end %>
    </div>

    <% if params[:action] == "show" || params[:action]  == "groups"%>
      <div class="groups">
        <% @groups.each do |group| %>
          <span><%= link_to "#{group.name}(#{group.posts.size})", user_group_path(@user, group) %></span>
        <% end %>
      </div>
    <% end %>

    <% if params[:action] == "posts" || params[:action] == "liked" %>
      <div class="posts">
        <% @posts.each do |post| %>
          <div class="post_detail">
            <div class="post_title">
              <%= link_to post.title, format_url(post.url) %>
            </div>
            <span class="post_description"><%= post.description %></span>
            <div class="post_action">
              <%= render partial: "shared/post_action", locals: { post: post } %>
            </div>
          </div>
        <% end %>

        <div class="paginate">
          <%= will_paginate @posts %>
        </div>
      </div>
    <% end %>


    <% if user_signed_in? && current_user  == @user %>
      <div class="some_buttons">
        <%= link_to "New Group", new_user_group_path(@user), class: "button button-highlight-o" %>
        <%= link_to "New Post", new_post_path, class: "button button-highlight-o" %>
      </div>
    <% end %>
  </div>
</div>
