<h3> Show </h3>
<%= gravatar_for(@user) %>

<h3>Posts:</h3>

<% @posts.each do |post| %>
  <%= render partial: 'shared/show_post', locals: { post: post } %>
<% end %>

<h3>Groups:</h3>

<% @groups.each do |group| %>
  <p><%= link_to "#{group.name}", user_group_path(@user, group) %></p>
<% end %>

<% if user_signed_in? && current_user  == @user %>
  <%= link_to "New Group", new_user_group_path(@user) %>
  <%= link_to "New Post", new_post_path %>
<% end %>
