<div class="form_page">

  <div class="form">

    <%#= link_to "Whatsup", root_path, class: "logo" %>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="devise_error_msg">
        <%= devise_error_messages! %>
      </div>

      <div class="field">
        <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
      </div>

      <div class="actions">
        <%= f.button "Send me reset password instructions", class: "button button-highlight" %>
      </div>

  </div>

    <% end %>

    <div class="other_form_links">
      <%= render "devise/shared/links" %>
    </div>
</div>
