<div class="each_post">

  <div class="like_size">
    <span class="fa fa-sort"></span>
    <%= post.get_likes.size %>
  </div>

  <div class="post_detail">
    <div class="post_title">
      <%= link_to post.title, format_url(post.url) %>
    </div>
    <span class="post_description"><%= post.description %></span>
  </div>

  <div class="post_author">
    <%= link_to "#{ post.user.name }", user_path(post.user) %>
  </div>
  <div class="post_action">

    <%= render partial: "shared/post_action", locals: { post: post } %>

    <%= link_to post_path(post) do %>
      <span class="fa fa-comment-o"></span>
      <span class="comment_size"><%= post.comments.size %></span>
    <% end %>

  </div>
</div>
