<div class="yield_content">

  <div class="bar">
    <% if params[:action] == 'recent' %>
      <%= link_to "Popular", popular_posts_path %>
      <%= link_to "Active", active_posts_path %>
      <%= link_to "Recent", recent_posts_path, class: "selected" %>
    <% elsif params[:action] == 'active'  %>
      <%= link_to "Popular", popular_posts_path %>
      <%= link_to "Active", active_posts_path, class: "selected" %>
      <%= link_to "Recent", recent_posts_path %>
    <% elsif params[:action] == 'popular'  %>
      <%= link_to "Popular", popular_posts_path, class: "selected" %>
      <%= link_to "Active", active_posts_path %>
      <%= link_to "Recent", recent_posts_path %>
    <% else %>
      <%= link_to "Popular", popular_posts_path %>
      <%= link_to "Active", active_posts_path %>
      <%= link_to "Recent", recent_posts_path %>
    <% end %>
  </div>

  <div class="posts_content">
    <% @posts.each do |post|%>
      <%= render partial: 'shared/show_post', locals: { post: post } %>
    <% end %>
  </div>

  <div class="paginate">
    <%= will_paginate @posts %>
  </div>

  <% if user_signed_in? %>
    <div class="some_buttons">
      <%= link_to "New Post", new_post_path, class: "button button-highlight-o" %>
    </div>
  <% end %>


</div>
