<% @posts.each do |post|%>
  <div>
    <span><%= post.title %> | </span>
    <span><%= post.url %> | </span>
    <span><%= post.description %></span>
  </div>

  <ul>
    <li><%= link_to "#{ post.user.name }", user_path(post.user) %></li>
    <li><%= link_to "show", post_path(post) %></li>

    <% if user_signed_in?  %>
      <li>
        <%= link_to like_post_path(post) do%>
          "Like"
          <%= post.get_likes.size %>
        <% end %>
      </li>

      <% if post.user_id == current_user.id %>
        <li><%= link_to "edit", edit_post_path(post) %></li>
        <li><%= link_to "delete", post_path(post), method: :delete, data: { confirm: "Are you sure?"} %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
  <%= link_to "New Post", new_post_path %>
<% end %>
