<p><%= @post.title %></p>
<p><%= @post.url %></p>
<p><%= @post.description %></p>

<%= link_to "home", posts_path %>
<%= link_to "#{ @post.user.name }", user_path(@post.user) %>

<% if user_signed_in? %>

  <%= link_to like_post_path(@post) do%>
    "Like"
    <%= @post.get_likes.size %>
  <% end %>

  <% if @post.user_id == current_user.id %>
    <%= link_to "edit", edit_post_path %>
    <%= link_to "delete", post_path, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>
